.parallax {
    background-image: url(../../assets/img/castelmezzano-g3c4578b12_1920.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}